.contact__nav .nav__link{
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

}

.contact__nav{
display: flex;
align-items: center;
margin-left: auto;
} 

.contact__nav__item{
    margin-right: 65px;
    color: var(--primary-text-color);
    transition:color var(--anim-fast) ;
    transition:fill var(--anim-fast) ;
    &:last-child{
        margin: 0;
    }
}

.contact__nav__icon__smartphone{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition:fill var(--anim-fast) ;
    .contact__nav__item .nav__link:hover &, 
    .contact__nav__item .nav__link:focus &{
        color: var(--link-color);
        fill: var(--link-color);
    }
    
}

.contact__nav__icon__envelope{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--primary-text-color);
    transition:fill var(--anim-fast) ;
    .contact__nav__item .nav__link:hover &, 
    .contact__nav__item .nav__link:focus &{
        color: var(--link-color);
        fill: var(--link-color);
    }
}

.nav__link{
    display: flex;
    align-items: center;
    justify-content: center;
    transition:color var(--anim-fast) ;
    &:hover,  
    &:focus{  
         color:var(--link-color); 
         fill: var(--link-color);
    
    } 
}