.header{
    border-bottom: 1px solid #ECECEC;
}

.header__container{
    display: flex;
    align-items: center; 
    
    @media screen and (max-width: 767px) {
        justify-content: space-between;
        
    }
}

.header__nav{
    display: flex;
    align-items: center;
}
.logo{
    font-family: Raleway;
    font-size: 26px;
    line-height:1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    align-items: center;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-left: 15px;
}
.footer__logo{
    color: var(--main-background-color);
    font-family: Raleway;
    font-size: 26px;
    line-height:1.2;
    letter-spacing: 0.03em;
    align-items: center;
    }
   

.logo-web{
    color:var(--link-color);
}

a{
    text-decoration :none;
}







