.hero{
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/Header_ml.jpg');
     @include mq(retina){
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/Header_ml@2x.jpg');   
    }
    @include mq(tabilet){
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/Header_tb.jpg');
    
     @include mq(retina){
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/Header_tb@2x.jpg'); 
        } 
    }
    @include mq(desktop){
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/Img_ds.jpg');
    
      @include mq(retina){
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/Img_ds@2x.jpg');  
      }
    }

    background-color:var(--header-footer-background-color); 
    padding-bottom: 118px;
    padding-top: 118px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    width: 100%;
    
    margin-right: auto;
    margin-left: auto;

    text-align: center;
   

    @media screen and (min-width: 480px) {
        height: 400px;
    }
    @media screen and (min-width: 768px) {
        height: 400px;
    }

    @media screen and (min-width: 1200px) {
        height: 600px;

        padding-top: 200px;
        padding-bottom: 200px;
    }
}   
.hero__title{
    color:var(--main-background-color);
    font-weight: 900;
    font-style: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 480px) {
        width: 360px;
    }

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height:1.35;
    }
    
}
.hero__button{
    color: var(--main-background-color);
    background-color: var(--link-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border:none;
    @media screen and (min-width:480px) and (max-width:1199px){
        margin-bottom: 118px;
    }
    
}
