.menu-btn{
  position: fixed;
  top: 10px;
  right: 15px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border:transparent;
  outline: transparent;
  z-index: 99;
  @media screen and (min-width:768px){
     display: none;
  }
  &__icon:hover{
    fill:#2196F3 ;
  }
  &__icon {
  fill: #212121;
  width: 40px;
  height: 40px;
    &-open{
    opacity: 1;
    }
    &-close{
    opacity: 0;
    }
  }
}
.menu-btn.is-open .menu-btn__icon-open{
  opacity: 0;
}
.menu-btn.is-open .menu-btn__icon-close{
  opacity: 1;
}
