
.services{
    padding-top: 0;
}
.services__title{
    color:var(--heading-main-color);
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
}

.services__picture{
    display: flex;
    margin-top: 50px;
}
.services__item{
    margin-right: 30px;  
    &:last-child{
        margin: 0;
    }
}
.services__thumb{
    position: relative;

}


.services__label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding-top: 27px;
    position: absolute;
    bottom: 0;
    
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }





